{% extends "base.html" %}

{% block title %}NitTheNat | MKWorld 100%{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">


{% endblock %}

{% block content %}

<div class="mkw-page">

    <header class="hero-banner">
        <h1>MarioKart World 100% Speedrun</h1>
    </header>

    <main class="content-panel">

        <a href="{{ url_for('home') }}" class="back-link">← Home</a>
        

        <h2>NitTheNat's MKWorld 100% Speedrun 2026</h2>

        <p><div id="postdate">25th March 2026</div></p>
        <p> Hey all, </p>
        <p>
            After 3 Months of research and practice, on Feburary 23rd 2026 I set 3 Speedrun PBs, and 2 World Records in Mario Kart World:
            All Free Roam Collectibles in 7hrs, 43mins & 8 seconds (11 minutes off World Record)
            99% in 14hrs, 25mins & 8 seconds (New WR by 1hr & 28mins)
            100% in 40hrs, 38mins & 45 seconds (New WR by 3hrs & 18mins) 
        </p>
        <p>
            Just wanna say thank you to Schism & Triv for helping me keep on top of my notes for the all collectibles run.
            A massive thanks to Tyler, Lucer, Triv, Schism, Plonk & Gwynn for checking in on me throughout the run to make sure my mental was in check, and also for keeping me sane
            And finally a thanks to everyone who has supported me from ever since I started the research, to getting the final sticker in the 100% run, you lot the real MVPs
        </p>

        <p>
            Just wanna say thank you to Schism & Triv for helping me keep on top of my notes for the all collectibles run.
            A massive thanks to Tyler, Lucer, Triv, Schism, Plonk & Gwynn for checking in on me throughout the run to make sure my mental was in check, and also for keeping me sane
            And finally a thanks to everyone who has supported me from ever since I started the research, to getting the final sticker in the 100% run, you lot the real MVPs
        </p>
        <p>
            Am looking on making a video going over the run, so expect to see that some time in April!
            We'll see if I have the mental to do this again in 2027 to try and get a sub 40 hour run, but for now, thanks again :)
        </p>

        <p>- Nat</p>

        <a href="https://www.speedrun.com/mkworld_ce/runs/ywod839m" class="back-link" target="_blank">New 100% WR</a> 
        <a href="https://www.speedrun.com/mkworld_ce/runs/mkx23lxz" class="back-link" target="_blank">New 99% WR</a>
        <a href="https://www.speedrun.com/mkworld_ce/runs/yl29go2z" class="back-link" target="_blank">2nd All Free Roam</a>

        <br>
        <a href="https://twitch.nitthenat.com" class="back-link" target="_blank">Twitch</a>

        <h2></h2>

        <p><div id="postdate">24th Feb 2026</div></p>

        <p>
            The 100% Mario Kart Speedrun is Complete. We are currently awaiting confirmation on speedrun.com.
        </p>

        <a href="https://www.youtube.com/playlist?list=PLeqKHkdNshFT0sI4GhyUA2Vl6QWfju8X5" class="back-link" target="_blank">See the run</a> 
        <a href="https://www.speedrun.com/mkworld_ce?h=100&x=zd39xlrdt" class="back-link" target="_blank">Catagory</a> 
        <a href="https://twitch.tv/nitthenat" class="back-link" target="_blank">Twitch</a>

        <p>- Nat</p>

        <h2></h2>

        <p><div id="postdate">18th Feb 2026</div></p>

        <p>
            8 Months ago, I completed the first Speedrun of Mario Kart World 100%.
            Since then, the run has been beat, and the game has gone through both strat changes and updates.
        </p>

        <p>
            Starting on
            <a id="invislink" href="https://www.inyourowntime.zone/2026-02-21_16.30_Europe.London" target="_blank">
                February 21st at 5pm UK / 12pm EST
            </a>,
            we go again, hopefully to reclaim the record! 🍻
        </p>

        <p><strong>Everything needed to 100%:</strong></p>

        <ul class="rule-list">
            <li>3 Star all cups in 150cc & Mirror mode.</li>
            <li>3 Star all knockout tours in 150cc & Mirror mode.</li>
            <li>Unlock all characters & costumes.</li>
            <li>Unlock all karts & bikes.</li>
            <li>Beat all staff ghosts in time trials.</li>

            <li class="list-subhead">Collect Every Sticker:</li>

            <li>Complete all 394 P-Switches.</li>
            <li>Find all 150 ? Panels.</li>
            <li>Collect all 200 Peach Medallions.</li>
            <li>Collect 30,000 coins.</li>
            <li>Perform 30,000 tricks.</li>
            <li>Compete in 500 races.</li>
            <li>Drive 5,000 kilometres.</li>
            <li>Glide 500 kilometres.</li>
            <li>Catch Nabbit once in free mode.</li>
            <li>Do the "Chargin' Chuck Challenge" once in free roam.</li>
        </ul>

        <p><strong>Past Attempt:</strong> 2D 8H 38M 16S</p>
        <p><strong>Current Record:</strong> 1D 19H 57M 36S</p>

        <p style="margin-top:30px;">See you there!</p>
        <p>- Nat</p>

        <a href="https://twitch.tv/nitthenat" class="back-link" target="_blank">Twitch</a>

    </main>

</div>

{% endblock %}