<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{% block title %}NitTheNat{% endblock %}</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<button class="menu-btn" onclick="toggleSidebar()">
    <i class="fas fa-bars"></i>
</button>

<div id="overlay" onclick="toggleSidebar()"></div>

<div id="mySidebar" class="sidebar">
    <div class="sidebar-header">
        <button class="close-menu" onclick="toggleSidebar()">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <div class="nav-content">
        <a href="{{ url_for('home') }}">
            <i class="fas fa-home"></i> Home
        </a>

        <button class="dropdown-btn">
            <i class="fas fa-newspaper"></i> Whats new?
            <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-container">
            <a href="{{ url_for('mkw100') }}">100% Speedrun</a>
        </div>

        <a href="https://twitch.tv/nitthenat">
            <i class="fab fa-twitch"></i> Twitch
        </a>

        <button class="dropdown-btn">
            <i class="fas fa-screwdriver-wrench"></i> Tools
            <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-container">
            <a href="{{ url_for('shorten') }}">URL Shortener</a>
        </div>

    </div>
    <div class="sidebar-watermark">
        Developed by TMoney19
    </div>
</div>


<div class="page-wrapper">
    {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
