{% extends "base.html" %}

{% block title %}URL Shortener | NitTheNat{% endblock %}

{% block content %}

<div class="shortener-container">

    <div class="shortener-card">
        <h1>URL Shortener</h1>

        <form method="POST">
            <input type="url"
                   name="url"
                   placeholder="Enter your long URL..."
                   required>

            <button type="submit">Shorten</button>
        </form>

        {% if short_url %}
            <div class="result-box">
                <p>Your Short URL:</p>
                <a href="{{ short_url }}" target="_blank">
                    {{ short_url }}
                </a>
            </div>
        {% endif %}

    </div>

</div>

{% endblock %}